body {
	margin:				0px;
	padding:			0px;
	/* border:				5px dashed blue; */
}

.content {
	/*Deben ser igual al width de los sidebars*/
	position:			fixed;
	top:				0;
	left:				200px;
	right:				200px;
	bottom:				0;
	height:				100%;
	overflow-y:			hidden;
	border:				2px solid yellow;
	background-color:	coral;
}

.leftsidebar {
	margin:				0;
	padding:			0;
	height:				100%;
	width:				200px;
	position:			fixed;
	float:				left;
	z-index:			1;
	top:				0;
	left:				0;
	background-color:	grey;
	display:			block;
}

.leftsidebar-profile {
	margin:				25%;
	width:				100%;
}

.leftsidebar-footer {
	margin:				45%;
	width:				100%;
	position:			absolute;
	bottom:				0;
}
.rightsidebar {
	margin:				0;
	padding:			0;
	height:				100%;
	width:				200px;
	position:			fixed;
	float:				right;
	z-index:			1;
	top:				0;
	right:				0;
	background-color:	grey;
	/* overflow-x:		hidden; */
	display:			block;
}
.rightsidebar-header {
	margin-top:			25%;
	margin-left:		45%;
	width:				100%;
}

a {
	text-decoration:	none;
	color:				black;
}

ul {
	list-style-type:	none;
	margin:				0;
	padding:			0;
}

button {
	all: unset;
	cursor: pointer;
}

.diamond {
	position:			fixed;
	height:				350px;
	width:				500px;
	clip-path:			polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	background-color:	white;
	box-shadow:			0px 0px 12px gray;
	text-align:			center;
	/* transition:			1s; */
}

.diamond:hover {
	/* background-color:	gray;
	transform:			scale(90%); */
	transition:			none;
}

.diamond:before {
	position:			absolute;
	top:				0;
	left:				0;
	content:			'';
	height:				100%;
	width:				100%;
	background-color:	beige;
	z-index:			-1;

	transition:			1s;
	text-align:			center;
}

.diamond:hover:before {
	/* transition:			none; */
	top:				10px;
	left:				85px;
	transform:			scale(90%) rotateX(45deg) rotateZ(45deg);
	height:				calc(350px - 22px);
	width:				calc(350px - 22px);
	background-color:	gray;
}

.diamond:after {
	position:			absolute;
	top:				10px;
	left:				85px;
	content:			'';
	transform:			rotateX(45deg) rotateZ(45deg);
	height:				calc(350px - 22px);
	width:				calc(350px - 22px);
	border:				1px solid orange;
	transition:			scale 5s, rotate 1.8s;
	transition-delay:	0s, 0s;
}

.diamond:hover::after {
	scale:				0.5;
	rotate:				180deg;
	transition:			scale 1.8s, rotate 5s;
}

button#dm-top {
	top:				23.05%;
	left:				40.22%;
}

button#dm-right {
	top:				37.05%;
	left:				50.34%;
}

button#dm-bottom {
	top:				51.05%;
	left:				40.22%;
}

button#dm-left {
	top:				37.05%;
	left:				30.12%;
}

/*Orbital things*/

#rotator {
	position:			relative;
	top:				7.5%;
	margin-left:		24%;
	width:				70rem;
	height:				70rem;
	animation:			rotations 15s linear infinite;
	border:				3px white solid;
	border-radius:		50%;
	z-index:			-1;
}

#rotator:before, #rotator:after {
	position:			absolute;
	content:			'';
	display:			block;
	height:				3rem;
	width:				3rem;
	/* animation:			inherit;
	animation-direction:	reverse; */
}

#rotator:after {
	border-radius:		100%;
	border:				8px coral solid;
	background-color: black;
	bottom:				8.35rem; /*8.75rem*/
	right:				8.35rem;
}

@keyframes rotations {
	to { transform: rotate(360deg) }
}


/* Responsive layout to stack the columns on top of each other for 600px wide or less screens */
@media screen and (max-width: 600px) {
	.column {
		width:		100%;
	}
}

.diamond2 {
	position:			absolute;
	height:				350px;
	width:				500px;
	clip-path:			polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
	background-color:	black;
	box-shadow:			0px 0px 12px gray;
	transition:			1s;
	text-align:			center;
}

.diamond2:hover {
	background-color:	gray;
	transform:			scale(90%);
}

.diamond2:after {
	position:			absolute;
	top:				10px;
	left:				85px;
	content:			'';
	transform:			rotateX(45deg) rotateZ(45deg);
	height:				calc(350px - 22px);
	width:				calc(350px - 22px);
	border:				1px solid orange;
	transition:			scale 5s, rotate 1.8s;
	transition-delay:	0s, 0s;
}

.diamond2:hover::after {
	scale:				0.5;
	rotate:				180deg;
	transition:			scale 1.8s, rotate 5s;
}

button#dm-top2 {
	top:				22.9%;
	left:				38.4%;
}

/**/
button#dm-right2 {
	top:				36.9%;
	left:				50.4%;
}

button#dm-bottom2 {
	top:				50.9%;
	left:				38.4%;
}

/**/
button#dm-left2 {
	top:				36.9%;
	left:				26.4%;
}
